
<!DOCTYPE html>
<html>

<head>
  <title>RAYZO</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
 </head>

<body class="landing is-preload">
  <link rel="stylesheet" href="css/1st/main.css" />
  <div id="page-wrapper">
    <section id="banner">
      <div class="inner">
        <h2>RAYZO</h2>
        <p>2WDA<br>
          Javascript + node.js with Prof. Jong Yul Kim<br>
          Made by Team RAYZO</p>
      </div>
      <!-- <a href="#one" class="more scrolly">Learn More</a> -->

      <ul class="actions special">
        <a href="users/login" class="button primary">LOG IN</a></ul>
    </section>
    <script src="js/1st/jquery.min.js"></script>
    <script src="js/1st/breakpoints.min.js"></script>
    <script src="js/1st/main.js"></script>
  </div>
</body>
</html>