<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        table {
            text-align: center;
            background-color: #8BBABB;
        }

        input[type=text] {
            background-color: transparent;
            border: none;
            border-right: 0px;
            border-top: 0px;
            border-left: 0px;
            border-bottom: 0px;
            color: white;
            width: 100%;
        }

        input::placeholder {
            color: white;
            text-align: center;
        }

        td input:focus {
            outline: none;
        }
    </style>
</head>

<body>
    <link rel="stylesheet" href="../css/2nd/Main.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <h1>정보 수정하기</h1>
    <hr>

    <form action="/major/<%= major.id %>?_method=PUT" method="post">
        <table>
            <tr>
                <td><input type="text" name="editMem" value="<%= major.course %>" placeholder="전공"></td>
            </tr>
            <tr>
                <td><input type="text" name="editItd" value="<%= major.introduce %>" placeholder="내용 입력"></td>
            </tr>
            <tr>
                <td><input type="image" src="../images/fix.png" name="submit" value="submit" width="22px" height="22px">
                </td>
            </tr>
        </table>
    </form>
</body>

</html>